if SHIELD_DACTYL_MANUFORM_6X6_LEFT

config ZMK_KEYBOARD_NAME
    default "paul-dactyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config BT_MAX_CONN
    default 2

config BT_MAX_PAIRED
    default 2

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 1

endif

if SHIELD_DACTYL_MANUFORM_6X6_DONGLE

config ZMK_KEYBOARD_NAME
    default "paul-dactyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config BT_MAX_CONN
    default 3

config BT_MAX_PAIRED
    default 3

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

config LV_USE_LINE
    default y

config LV_USE_IMG
    default y

endif

if SHIELD_DACTYL_MANUFORM_6X6_LEFT || SHIELD_DACTYL_MANUFORM_6X6_LEFT_PERIPHERAL || SHIELD_DACTYL_MANUFORM_6X6_RIGHT || SHIELD_DACTYL_MANUFORM_6X6_DONGLE

config ZMK_SPLIT
    default y

endif
