if SHIELD_DACTYL_MANUFORM_6X6_LEFT

config ZMK_KEYBOARD_NAME
    default "DM6x6"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config BT_MAX_CONN
    default 2

config BT_MAX_PAIRED
    default 2

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 1

endif

if SHIELD_DACTYL_MANUFORM_6X6_LEFT || SHIELD_DACTYL_MANUFORM_6X6_RIGHT

config ZMK_SPLIT
    default y

endif
